<html lang="en">
    <link rel="stylesheet" href="/styles.css">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="address content">
            <h2>Address:</h2>
            <% if (address && address.length > 0) { %>
                <% address.forEach(function(addr) { %>
                    <h3>User ID: <%= addr.user_id %></h3>
                    <h3>Address Line 1: <%= addr.address_line1 %></h3>
                    <p>Address Line 2: <%= addr.address_line2 %></p>
                <% }) %>
            <% } else { %>
                <p>No records found for these addresses.</p>
            <% } %>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
