<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="address content">
        <form action="/addresses/<%=  address[0].user_id %>/update" method="POST">

            <label for="address_line1">Address Line 1:</label>
            <input type="text" id="address_line1" name="address_line1" value="<%= address[0].address_line1 %>" required><br><br>
            
            <label for="address_line2">Address Line 2:</label>
            <input type="text" id="address_line2" name="address_line2" value="<%= address[0].address_line2 %>" ><br><br>
            
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="<%= address[0].city %>" ><br><br>
            
            <label for="state">State:</label>
            <input type="text" id="state" name="state" value="<%= address[0].state %>" ><br><br>
            
            <label for="postal_code">Postal Code:</label>
            <input type="text" id="postal_code" name="postal_code" value="<%= address[0].postal_code %>" ><br><br>
            
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" value="<%= address[0].country %>" ><br><br>
        
            <input type="submit" value="Update Address">
        </form>
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>
